{
    "smithy": "2.0",
    "shapes": {
        "smithy.ruby.tests#BigDecimal": {
            "type": "bigDecimal",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#BigInteger": {
            "type": "bigInteger",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Blob": {
            "type": "blob",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Byte": {
            "type": "byte",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Document": {
            "type": "document",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Double": {
            "type": "double",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Enum": {
            "type": "enum",
            "members": {
                "FOO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "bar"
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Float": {
            "type": "float",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#IntEnum": {
            "type": "intEnum",
            "members": {
                "BAZ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 1
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Integer": {
            "type": "integer",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#List": {
            "type": "list",
            "member": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Long": {
            "type": "long",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Map": {
            "type": "map",
            "key": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "value": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Operation": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#OperationInputOutput"
            },
            "output": {
                "target": "smithy.ruby.tests#OperationInputOutput"
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#OperationInputOutput": {
            "type": "structure",
            "members": {
                "blob": {
                    "target": "smithy.ruby.tests#Blob",
                    "traits": {
                        "smithy.api#default": "YmxvYg=="
                    }
                },
                "boolean": {
                    "target": "smithy.ruby.tests#Boolean",
                    "traits": {
                        "smithy.api#default": true
                    }
                },
                "string": {
                    "target": "smithy.ruby.tests#String",
                    "traits": {
                        "smithy.api#default": "string"
                    }
                },
                "byte": {
                    "target": "smithy.ruby.tests#Byte",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "short": {
                    "target": "smithy.ruby.tests#Short",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "integer": {
                    "target": "smithy.ruby.tests#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "long": {
                    "target": "smithy.ruby.tests#Long",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "float": {
                    "target": "smithy.ruby.tests#Float",
                    "traits": {
                        "smithy.api#default": 0.0
                    }
                },
                "double": {
                    "target": "smithy.ruby.tests#Double",
                    "traits": {
                        "smithy.api#default": 0.0
                    }
                },
                "bigInteger": {
                    "target": "smithy.ruby.tests#BigInteger",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "bigDecimal": {
                    "target": "smithy.ruby.tests#BigDecimal",
                    "traits": {
                        "smithy.api#default": 0.0
                    }
                },
                "timestamp": {
                    "target": "smithy.ruby.tests#Timestamp",
                    "traits": {
                        "smithy.api#default": "1985-04-12T23:20:50.52Z"
                    }
                },
                "document": {
                    "target": "smithy.ruby.tests#Document",
                    "traits": {
                        "smithy.api#default": null
                    }
                },
                "enum": {
                    "target": "smithy.ruby.tests#Enum",
                    "traits": {
                        "smithy.api#default": "bar"
                    }
                },
                "intEnum": {
                    "target": "smithy.ruby.tests#IntEnum",
                    "traits": {
                        "smithy.api#default": 1
                    }
                },
                "list": {
                    "target": "smithy.ruby.tests#List",
                    "traits": {
                        "smithy.api#default": []
                    }
                },
                "map": {
                    "target": "smithy.ruby.tests#Map",
                    "traits": {
                        "smithy.api#default": {}
                    }
                },
                "structure": {
                    "target": "smithy.ruby.tests#Structure"
                },
                "union": {
                    "target": "smithy.ruby.tests#Union"
                }
            }
        },
        "smithy.ruby.tests#ShapeService": {
            "type": "service",
            "version": "2018-10-31",
            "operations": [
                {
                    "target": "smithy.ruby.tests#Operation"
                }
            ],
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Short": {
            "type": "short",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#String": {
            "type": "string",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Structure": {
            "type": "structure",
            "members": {
                "member": {
                    "target": "smithy.ruby.tests#String",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Timestamp": {
            "type": "timestamp",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Union": {
            "type": "union",
            "members": {
                "string": {
                    "target": "smithy.ruby.tests#String",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                },
                "structure": {
                    "target": "smithy.ruby.tests#Structure",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                },
                "unit": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#shape": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#trait": {}
            }
        }
    }
}
