{
    "smithy": "2.0",
    "shapes": {
        "smithy.protocols#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "A list of String shapes.",
                "smithy.api#private": {}
            }
        },
        "smithy.protocols#rpcv2Cbor": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "smithy.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "Priority ordered list of supported HTTP protocol versions."
                    }
                },
                "eventStreamHttp": {
                    "target": "smithy.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "Priority ordered list of supported HTTP protocol versions\nthat are required when using event streams."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that serializes CBOR payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#httpError"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#traitValidators": {
                    "rpcv2Cbor.NoDocuments": {
                        "selector": "service ~> member :test(> document)",
                        "message": "This protocol does not support document types"
                    }
                }
            }
        },
        "smithy.ruby.tests#BigDecimal": {
            "type": "bigDecimal",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#BigInteger": {
            "type": "bigInteger",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Blob": {
            "type": "blob",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Byte": {
            "type": "byte",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Document": {
            "type": "document",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Double": {
            "type": "double",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Enum": {
            "type": "enum",
            "members": {
                "FOO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "bar"
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Float": {
            "type": "float",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#IntEnum": {
            "type": "intEnum",
            "members": {
                "BAZ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 1
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Integer": {
            "type": "integer",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#List": {
            "type": "list",
            "member": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Long": {
            "type": "long",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Map": {
            "type": "map",
            "key": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "value": {
                "target": "smithy.ruby.tests#String",
                "traits": {
                    "smithy.ruby.tests#shape": {}
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Operation": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#OperationInputOutput"
            },
            "output": {
                "target": "smithy.ruby.tests#OperationInputOutput"
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#OperationInputOutput": {
            "type": "structure",
            "members": {
                "blob": {
                    "target": "smithy.ruby.tests#Blob"
                },
                "boolean": {
                    "target": "smithy.ruby.tests#Boolean"
                },
                "string": {
                    "target": "smithy.ruby.tests#String"
                },
                "byte": {
                    "target": "smithy.ruby.tests#Byte"
                },
                "short": {
                    "target": "smithy.ruby.tests#Short"
                },
                "integer": {
                    "target": "smithy.ruby.tests#Integer"
                },
                "long": {
                    "target": "smithy.ruby.tests#Long"
                },
                "float": {
                    "target": "smithy.ruby.tests#Float"
                },
                "double": {
                    "target": "smithy.ruby.tests#Double"
                },
                "bigInteger": {
                    "target": "smithy.ruby.tests#BigInteger"
                },
                "bigDecimal": {
                    "target": "smithy.ruby.tests#BigDecimal"
                },
                "timestamp": {
                    "target": "smithy.ruby.tests#Timestamp"
                },
                "document": {
                    "target": "smithy.ruby.tests#Document"
                },
                "enum": {
                    "target": "smithy.ruby.tests#Enum"
                },
                "intEnum": {
                    "target": "smithy.ruby.tests#IntEnum"
                },
                "list": {
                    "target": "smithy.ruby.tests#List"
                },
                "map": {
                    "target": "smithy.ruby.tests#Map"
                },
                "structure": {
                    "target": "smithy.ruby.tests#Structure"
                },
                "union": {
                    "target": "smithy.ruby.tests#Union"
                }
            }
        },
        "smithy.ruby.tests#ShapeService": {
            "type": "service",
            "version": "2018-10-31",
            "operations": [
                {
                    "target": "smithy.ruby.tests#Operation"
                }
            ],
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Short": {
            "type": "short",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#String": {
            "type": "string",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Structure": {
            "type": "structure",
            "members": {
                "member": {
                    "target": "smithy.ruby.tests#String",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Timestamp": {
            "type": "timestamp",
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#Union": {
            "type": "union",
            "members": {
                "string": {
                    "target": "smithy.ruby.tests#String",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                },
                "structure": {
                    "target": "smithy.ruby.tests#Structure",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                },
                "unit": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.ruby.tests#shape": {}
                    }
                }
            },
            "traits": {
                "smithy.ruby.tests#shape": {}
            }
        },
        "smithy.ruby.tests#shape": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#trait": {}
            }
        }
    }
}
