{
    "smithy": "2.0",
    "shapes": {
        "smithy.ruby.tests#City": {
            "type": "resource",
            "identifiers": {
                "cityId": {
                    "target": "smithy.ruby.tests#CityId"
                }
            },
            "properties": {
                "coordinates": {
                    "target": "smithy.ruby.tests#CityCoordinates"
                }
            },
            "read": {
                "target": "smithy.ruby.tests#GetCity"
            },
            "list": {
                "target": "smithy.ruby.tests#ListCities"
            },
            "resources": [
                {
                    "target": "smithy.ruby.tests#Forecast"
                }
            ]
        },
        "smithy.ruby.tests#CityCoordinates": {
            "type": "structure",
            "members": {
                "latitude": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "longitude": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "smithy.ruby.tests#CityId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Za-z0-9 ]+$"
            }
        },
        "smithy.ruby.tests#CitySummaries": {
            "type": "list",
            "member": {
                "target": "smithy.ruby.tests#CitySummary"
            }
        },
        "smithy.ruby.tests#CitySummary": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#references": [
                    {
                        "resource": "smithy.ruby.tests#City"
                    }
                ]
            }
        },
        "smithy.ruby.tests#Forecast": {
            "type": "resource",
            "identifiers": {
                "cityId": {
                    "target": "smithy.ruby.tests#CityId"
                }
            },
            "properties": {
                "chanceOfRain": {
                    "target": "smithy.api#Float"
                }
            },
            "read": {
                "target": "smithy.ruby.tests#GetForecast"
            }
        },
        "smithy.ruby.tests#GetCity": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#GetCityInput"
            },
            "output": {
                "target": "smithy.ruby.tests#GetCityOutput"
            },
            "errors": [
                {
                    "target": "smithy.ruby.tests#NoSuchResource"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests#GetCityInput": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests#GetCityOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "coordinates": {
                    "target": "smithy.ruby.tests#CityCoordinates",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#GetCurrentTime": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.ruby.tests#GetCurrentTimeOutput"
            },
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests#GetCurrentTimeOutput": {
            "type": "structure",
            "members": {
                "time": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#GetForecast": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#GetForecastInput"
            },
            "output": {
                "target": "smithy.ruby.tests#GetForecastOutput"
            },
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests#GetForecastInput": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests#GetForecastOutput": {
            "type": "structure",
            "members": {
                "chanceOfRain": {
                    "target": "smithy.api#Float"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#ListCities": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#ListCitiesInput"
            },
            "output": {
                "target": "smithy.ruby.tests#ListCitiesOutput"
            },
            "traits": {
                "smithy.api#paginated": {
                    "items": "items"
                },
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests#ListCitiesInput": {
            "type": "structure",
            "members": {
                "nextToken": {
                    "target": "smithy.api#String"
                },
                "pageSize": {
                    "target": "smithy.api#Integer"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests#ListCitiesOutput": {
            "type": "structure",
            "members": {
                "nextToken": {
                    "target": "smithy.api#String"
                },
                "items": {
                    "target": "smithy.ruby.tests#CitySummaries",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#NoSuchResource": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "smithy.ruby.tests#Weather": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.ruby.tests#GetCurrentTime"
                }
            ],
            "resources": [
                {
                    "target": "smithy.ruby.tests#City"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Provides weather forecasts.",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "pageSize"
                }
            }
        }
    }
}
