{
    "smithy": "2.0",
    "shapes": {
        "smithy.rules#ClientContextParamDefinition": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "smithy.rules#ShapeType",
                    "traits": {
                        "smithy.api#documentation": "The Smithy shape type that should be used to generate a client configurable for the rule-set parameter.",
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Documentation string to be generated with the client parameter."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A client context parameter definition.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointExpectation": {
            "type": "structure",
            "members": {
                "url": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The expected endpoint URL to be resolved for this test case."
                    }
                },
                "headers": {
                    "target": "smithy.rules#EndpointHeaders",
                    "traits": {
                        "smithy.api#documentation": "The transport headers to be set for this test case."
                    }
                },
                "properties": {
                    "target": "smithy.rules#Properties",
                    "traits": {
                        "smithy.api#documentation": "The properties for the endpoint for this test case."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A description of an expected endpoint to be resolved for an endpoint rule-set test case.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointHeaderValue": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "A transport header value."
                }
            },
            "traits": {
                "smithy.api#documentation": "A list of transport header values.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointHeaders": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The transport header name."
                }
            },
            "value": {
                "target": "smithy.rules#EndpointHeaderValue",
                "traits": {
                    "smithy.api#documentation": "The transport header values."
                }
            },
            "traits": {
                "smithy.api#documentation": "A map of header names to list of values.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointTest": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Documentation describing the test case."
                    }
                },
                "params": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines rule-set parameters and values to use for testing rules-engine."
                    }
                },
                "operationInputs": {
                    "target": "smithy.rules#OperationInputs",
                    "traits": {
                        "smithy.api#documentation": "Defines a set of service operation configurations used for testing the rules-engine."
                    }
                },
                "expect": {
                    "target": "smithy.rules#EndpointTestExpectation",
                    "traits": {
                        "smithy.api#documentation": "The expected outcome of the test case.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Describes an endpoint test case for validation of an endpoint rule-set.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointTestExpectation": {
            "type": "union",
            "members": {
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A test case expectation resulting in an error."
                    }
                },
                "endpoint": {
                    "target": "smithy.rules#EndpointExpectation",
                    "traits": {
                        "smithy.api#documentation": "A test case expectation resulting in an endpoint."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An endpoint rule-set test expectation describing an expected endpoint or error.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#EndpointTestList": {
            "type": "list",
            "member": {
                "target": "smithy.rules#EndpointTest"
            },
            "traits": {
                "smithy.api#documentation": "A list of endpoint rule-set tests.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#OperationContextParamDefinition": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "a JMESPath expression to select element(s) from the operation input to bind to.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An operation context parameter definition.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#OperationInput": {
            "type": "structure",
            "members": {
                "operationName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the service operation targeted by the test.",
                        "smithy.api#required": {}
                    }
                },
                "operationParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the input parameters used to generate the operation request.\nThese parameters MUST be compatible with the input of the operation."
                    }
                },
                "builtInParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the set of rule-set built-ins and their corresponding values to be set."
                    }
                },
                "clientParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the set of client configuration parameters to be set."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A description of a service operation and input used to verify an endpoint rule-set test case.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#OperationInputs": {
            "type": "list",
            "member": {
                "target": "smithy.rules#OperationInput",
                "traits": {
                    "smithy.api#documentation": "The service operation configuration to be used for testing the rules-engine."
                }
            },
            "traits": {
                "smithy.api#documentation": "A list of operation input descriptions for an endpoint rule-set test case.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#Properties": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The property name."
                }
            },
            "value": {
                "target": "smithy.api#Document",
                "traits": {
                    "smithy.api#documentation": "The property value."
                }
            },
            "traits": {
                "smithy.api#documentation": "A map of strings to document values.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#ShapeType": {
            "type": "enum",
            "members": {
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates a Smithy string shape type.",
                        "smithy.api#enumValue": "string"
                    }
                },
                "BOOLEAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Indicates a Smithy boolean shape type.",
                        "smithy.api#enumValue": "boolean"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An enum representing supported Smithy shape types.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#StaticContextParamDefinition": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "The value to set the associated rule-set parameter to.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A static context parameter definition.",
                "smithy.api#private": {},
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#clientContextParams": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The rule-set parameter name."
                }
            },
            "value": {
                "target": "smithy.rules#ClientContextParamDefinition",
                "traits": {
                    "smithy.api#documentation": "The client parameter definition."
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines one or more named rule-set parameters to be generated as configurable client parameters.\nThe type specified for the client parameter MUST match the parameter type defined in the rule-set.",
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#contextParam": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The rule-set parameter name.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Binds the targeted member of an operation's input structure to the named rule-set parameter.\nThe type of the shape targeted by the trait MUST match the parameter type defined in the rule-set.",
                "smithy.api#trait": {
                    "selector": "operation -[input]-> structure > member"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#endpointRuleSet": {
            "type": "document",
            "traits": {
                "smithy.api#documentation": "Defines an endpoint rule-set used to resolve the client's transport endpoint.",
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#endpointTests": {
            "type": "structure",
            "members": {
                "version": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The endpoint tests schema version.",
                        "smithy.api#required": {}
                    }
                },
                "testCases": {
                    "target": "smithy.rules#EndpointTestList",
                    "traits": {
                        "smithy.api#documentation": "List of endpoint test cases."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines endpoint test-cases for validating a client's endpoint rule-set.",
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#operationContextParams": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The rule-set parameter name."
                }
            },
            "value": {
                "target": "smithy.rules#OperationContextParamDefinition",
                "traits": {
                    "smithy.api#documentation": "The static parameter definition."
                }
            },
            "traits": {
                "smithy.api#documentation": "Binds one or more named rule-set parameters to elements contained in the operation's input structure.\nThe type of the shapes targeted by the trait MUST match the parameter types defined in the rule-set.",
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.rules#staticContextParams": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The rule-set parameter name."
                }
            },
            "value": {
                "target": "smithy.rules#StaticContextParamDefinition",
                "traits": {
                    "smithy.api#documentation": "The static parameter definition."
                }
            },
            "traits": {
                "smithy.api#documentation": "Binds one or more named rule-set parameters to the defined static value for the targeted operation.\nThe type of the targeted shape targeted by the trait MUST match the parameter type defined in the rule-set.",
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#unstable": {}
            }
        }
    }
}
