{
    "smithy": "2.0",
    "metadata": {
        "validators": [
            {
                "configuration": {
                    "selector": "operation :not(< service)"
                },
                "id": "UnboundTestOperation",
                "message": "This operation in the Smithy protocol tests is not bound to a service.",
                "name": "EmitEachSelector",
                "namespaces": [
                    "smithy.protocoltests.rpcv2Cbor"
                ],
                "severity": "WARNING"
            }
        ]
    },
    "shapes": {
        "smithy.framework#ValidationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A summary of the validation failure.",
                        "smithy.api#required": {}
                    }
                },
                "fieldList": {
                    "target": "smithy.framework#ValidationExceptionFieldList",
                    "traits": {
                        "smithy.api#documentation": "A list of specific failures encountered while validating the input.\nA member can appear in this list more than once if it failed to satisfy multiple constraints."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A standard error for input validation failures.\nThis should be thrown by services when a member of the input structure\nfalls outside of the modeled or documented constraints.",
                "smithy.api#error": "client"
            }
        },
        "smithy.framework#ValidationExceptionField": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A detailed description of the validation failure.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Describes one specific validation failure for an input member."
            }
        },
        "smithy.framework#ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "target": "smithy.framework#ValidationExceptionField"
            }
        },
        "smithy.protocols#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "A list of String shapes.",
                "smithy.api#private": {}
            }
        },
        "smithy.protocols#rpcv2Cbor": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "smithy.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "Priority ordered list of supported HTTP protocol versions."
                    }
                },
                "eventStreamHttp": {
                    "target": "smithy.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "Priority ordered list of supported HTTP protocol versions\nthat are required when using event streams."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that serializes CBOR payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#httpError"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#traitValidators": {
                    "rpcv2Cbor.NoDocuments": {
                        "selector": "service ~> member :test(> document)",
                        "message": "This protocol does not support document types in most possible scenarios.",
                        "severity": "DANGER"
                    }
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#ClientOptionalDefaults": {
            "type": "structure",
            "members": {
                "member": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#default": 0
                    }
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#ComplexError": {
            "type": "structure",
            "members": {
                "TopLevel": {
                    "target": "smithy.api#String"
                },
                "Nested": {
                    "target": "smithy.protocoltests.rpcv2Cbor#ComplexNestedErrorData"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when a request is invalid.",
                "smithy.api#error": "client",
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborComplexError",
                        "documentation": "Parses a complex error with no message member",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "params": {
                            "TopLevel": "Top level",
                            "Nested": {
                                "Foo": "bar"
                            }
                        },
                        "code": 400,
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v2ZfX3R5cGV4K3NtaXRoeS5wcm90b2NvbHRlc3RzLnJwY3YyQ2JvciNDb21wbGV4RXJyb3JoVG9wTGV2ZWxpVG9wIGxldmVsZk5lc3RlZL9jRm9vY2Jhcv//",
                        "bodyMediaType": "application/cbor"
                    },
                    {
                        "id": "RpcV2CborEmptyComplexError",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 400,
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v2ZfX3R5cGV4K3NtaXRoeS5wcm90b2NvbHRlc3RzLnJwY3YyQ2JvciNDb21wbGV4RXJyb3L/",
                        "bodyMediaType": "application/cbor"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#ComplexNestedErrorData": {
            "type": "structure",
            "members": {
                "Foo": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#Defaults": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#DefaultsMixin"
                }
            ],
            "members": {}
        },
        "smithy.protocoltests.rpcv2Cbor#DefaultsMixin": {
            "type": "structure",
            "members": {
                "defaultString": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#default": "hi"
                    }
                },
                "defaultBoolean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": true
                    }
                },
                "defaultList": {
                    "target": "smithy.protocoltests.rpcv2Cbor#TestStringList",
                    "traits": {
                        "smithy.api#default": []
                    }
                },
                "defaultTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "defaultBlob": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#default": "YWJj"
                    }
                },
                "defaultByte": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#default": 1
                    }
                },
                "defaultShort": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#default": 1
                    }
                },
                "defaultInteger": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 10
                    }
                },
                "defaultLong": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#default": 100
                    }
                },
                "defaultFloat": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#default": 1.0
                    }
                },
                "defaultDouble": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#default": 1.0
                    }
                },
                "defaultMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#TestStringMap",
                    "traits": {
                        "smithy.api#default": {}
                    }
                },
                "defaultEnum": {
                    "target": "smithy.protocoltests.rpcv2Cbor#TestEnum",
                    "traits": {
                        "smithy.api#default": "FOO"
                    }
                },
                "defaultIntEnum": {
                    "target": "smithy.protocoltests.rpcv2Cbor#TestIntEnum",
                    "traits": {
                        "smithy.api#default": 1
                    }
                },
                "emptyString": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#default": ""
                    }
                },
                "falseBoolean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": false
                    }
                },
                "emptyBlob": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#default": ""
                    }
                },
                "zeroByte": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "zeroShort": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "zeroInteger": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "zeroLong": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "zeroFloat": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#default": 0.0
                    }
                },
                "zeroDouble": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#default": 0.0
                    }
                }
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.protocoltests.rpcv2Cbor#DenseBooleanMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#Boolean"
            }
        },
        "smithy.protocoltests.rpcv2Cbor#DenseNumberMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#Integer"
            }
        },
        "smithy.protocoltests.rpcv2Cbor#DenseSetMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.protocoltests.shared#StringSet"
            }
        },
        "smithy.protocoltests.rpcv2Cbor#DenseStringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "smithy.protocoltests.rpcv2Cbor#DenseStructMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.protocoltests.shared#GreetingStruct"
            }
        },
        "smithy.protocoltests.rpcv2Cbor#EmptyInputOutput": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#EmptyStructure"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#EmptyStructure"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "empty_input",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When Input structure is empty we write CBOR equivalent of {}",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "forbidHeaders": [
                            "X-Amz-Target"
                        ],
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/EmptyInputOutput",
                        "bodyMediaType": "application/cbor",
                        "body": "v/8="
                    },
                    {
                        "id": "empty_input_no_body",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When Input structure is empty the server should accept an empty body",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Accept": "application/cbor",
                            "Content-Type": "application/cbor"
                        },
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/EmptyInputOutput",
                        "bodyMediaType": "application/cbor",
                        "body": "",
                        "appliesTo": "server"
                    },
                    {
                        "id": "empty_input_no_body_has_accept",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When input structure, is empty the server should accept an empty body\neven if the Accept header is set.",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Accept": "application/cbor",
                            "Content-Type": "application/cbor"
                        },
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/EmptyInputOutput",
                        "bodyMediaType": "application/cbor",
                        "body": "",
                        "appliesTo": "server"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "empty_output",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When output structure is empty we write CBOR equivalent of {}",
                        "body": "v/8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "code": 200
                    },
                    {
                        "id": "empty_output_no_body",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When output structure is empty the client should accept an empty body",
                        "body": "",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "code": 200,
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#EmptyStructure": {
            "type": "structure",
            "members": {}
        },
        "smithy.protocoltests.rpcv2Cbor#Float16": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#Float16Output"
            },
            "traits": {
                "smithy.api#tags": [
                    "client-only"
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborFloat16Inf",
                        "documentation": "Ensures that clients can correctly parse float16 +Inf.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWV2YWx1Zfl8AA==",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "value": "Infinity"
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RpcV2CborFloat16NegInf",
                        "documentation": "Ensures that clients can correctly parse float16 -Inf.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWV2YWx1Zfn8AA==",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "value": "-Infinity"
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RpcV2CborFloat16LSBNaN",
                        "documentation": "Ensures that clients can correctly parse float16 NaN with high LSB.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWV2YWx1Zfl8AQ==",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "value": "NaN"
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RpcV2CborFloat16MSBNaN",
                        "documentation": "Ensures that clients can correctly parse float16 NaN with high MSB.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWV2YWx1Zfl+AA==",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "value": "NaN"
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RpcV2CborFloat16Subnormal",
                        "documentation": "Ensures that clients can correctly parse a subnormal float16.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWV2YWx1ZfkAUA==",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "value": 4.76837158203125E-6
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#Float16Output": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "smithy.api#Double"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#FractionalSeconds": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#FractionalSecondsOutput"
            },
            "traits": {
                "smithy.api#tags": [
                    "client-only"
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborDateTimeWithFractionalSeconds",
                        "documentation": "Ensures that clients can correctly parse timestamps with fractional seconds",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2hkYXRldGltZcH7Qcw32zgPvnf/",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "datetime": 9.46845296123E8
                        },
                        "bodyMediaType": "application/cbor",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#FractionalSecondsOutput": {
            "type": "structure",
            "members": {
                "datetime": {
                    "target": "smithy.protocoltests.shared#DateTime"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#GreetingWithErrors": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#GreetingWithErrorsOutput"
            },
            "errors": [
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#ComplexError"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#InvalidGreeting"
                }
            ],
            "traits": {
                "smithy.api#documentation": "This operation has three possible return values:\n\n1. A successful response in the form of GreetingWithErrorsOutput\n2. An InvalidGreeting error.\n3. A ComplexError error.\n\nImplementations must be able to successfully take a response and\nproperly deserialize successful and error responses.",
                "smithy.api#idempotent": {}
            }
        },
        "smithy.protocoltests.rpcv2Cbor#GreetingWithErrorsOutput": {
            "type": "structure",
            "members": {
                "greeting": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#InvalidGreeting": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when an invalid greeting value is provided.",
                "smithy.api#error": "client",
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborInvalidGreetingError",
                        "documentation": "Parses simple RpcV2 Cbor errors",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "params": {
                            "Message": "Hi"
                        },
                        "code": 400,
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v2ZfX3R5cGV4LnNtaXRoeS5wcm90b2NvbHRlc3RzLnJwY3YyQ2JvciNJbnZhbGlkR3JlZXRpbmdnTWVzc2FnZWJIaf8=",
                        "bodyMediaType": "application/cbor"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#NoInputOutput": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "no_input",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "Body is empty and no Content-Type header if no input",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Accept": "application/cbor"
                        },
                        "forbidHeaders": [
                            "Content-Type",
                            "X-Amz-Target"
                        ],
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/NoInputOutput",
                        "body": ""
                    },
                    {
                        "id": "NoInputServerAllowsEmptyCbor",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "Servers should accept CBOR empty struct if no input.",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Accept": "application/cbor",
                            "Content-Type": "application/cbor"
                        },
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/NoInputOutput",
                        "body": "v/8=",
                        "appliesTo": "server"
                    },
                    {
                        "id": "NoInputServerAllowsEmptyBody",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "Servers should accept an empty body if there is no input. Additionally,\nthey should not raise an error if the `Accept` header is set.",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Accept": "application/cbor",
                            "Content-Type": "application/cbor"
                        },
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/NoInputOutput",
                        "body": "",
                        "appliesTo": "server"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "no_output",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "A `Content-Type` header should not be set if the response body is empty.",
                        "body": "",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor"
                        },
                        "forbidHeaders": [
                            "Content-Type"
                        ],
                        "code": 200
                    },
                    {
                        "id": "NoOutputClientAllowsEmptyCbor",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "Clients should accept a CBOR empty struct if there is no output.",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "code": 200,
                        "bodyMediaType": "application/cbor",
                        "body": "v/8=",
                        "appliesTo": "client"
                    },
                    {
                        "id": "NoOutputClientAllowsEmptyBody",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "Clients should accept an empty body if there is no output and\nshould not raise an error if the `Content-Type` header is set.",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "code": 200,
                        "bodyMediaType": "application/cbor",
                        "body": "",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#OperationWithDefaults": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#OperationWithDefaultsInput"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#OperationWithDefaultsOutput"
            },
            "errors": [
                {
                    "target": "smithy.framework#ValidationException"
                }
            ],
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RpcV2CborClientPopulatesDefaultValuesInInput",
                        "documentation": "Client populates default values in input.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "bodyMediaType": "application/cbor",
                        "body": "v2hkZWZhdWx0c79tZGVmYXVsdFN0cmluZ2JoaW5kZWZhdWx0Qm9vbGVhbvVrZGVmYXVsdExpc3Sf/3BkZWZhdWx0VGltZXN0YW1wwQBrZGVmYXVsdEJsb2JDYWJja2RlZmF1bHRCeXRlAWxkZWZhdWx0U2hvcnQBbmRlZmF1bHRJbnRlZ2VyCmtkZWZhdWx0TG9uZxhkbGRlZmF1bHRGbG9hdPo/gAAAbWRlZmF1bHREb3VibGX6P4AAAGpkZWZhdWx0TWFwv/9rZGVmYXVsdEVudW1jRk9PbmRlZmF1bHRJbnRFbnVtAWtlbXB0eVN0cmluZ2BsZmFsc2VCb29sZWFu9GllbXB0eUJsb2JAaHplcm9CeXRlAGl6ZXJvU2hvcnQAa3plcm9JbnRlZ2VyAGh6ZXJvTG9uZwBpemVyb0Zsb2F0+gAAAABqemVyb0RvdWJsZfoAAAAA//8=",
                        "params": {
                            "defaults": {}
                        }
                    },
                    {
                        "id": "RpcV2CborClientSkipsTopLevelDefaultValuesInInput",
                        "documentation": "Client skips top level default values in input.",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "bodyMediaType": "application/cbor",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "body": "v/8=",
                        "params": {}
                    },
                    {
                        "id": "RpcV2CborClientUsesExplicitlyProvidedMemberValuesOverDefaults",
                        "documentation": "Client uses explicitly provided member values over defaults",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "bodyMediaType": "application/cbor",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "body": "v2hkZWZhdWx0c7dtZGVmYXVsdFN0cmluZ2NieWVuZGVmYXVsdEJvb2xlYW71a2RlZmF1bHRMaXN0gWFhcGRlZmF1bHRUaW1lc3RhbXDB+z/wAAAAAAAAa2RlZmF1bHRCbG9iQmhpa2RlZmF1bHRCeXRlAmxkZWZhdWx0U2hvcnQCbmRlZmF1bHRJbnRlZ2VyFGtkZWZhdWx0TG9uZxjIbGRlZmF1bHRGbG9hdPpAAAAAbWRlZmF1bHREb3VibGX7QAAAAAAAAABqZGVmYXVsdE1hcKFkbmFtZWRKYWNra2RlZmF1bHRFbnVtY0JBUm5kZWZhdWx0SW50RW51bQJrZW1wdHlTdHJpbmdjZm9vbGZhbHNlQm9vbGVhbvVpZW1wdHlCbG9iQmhpaHplcm9CeXRlAWl6ZXJvU2hvcnQBa3plcm9JbnRlZ2VyAWh6ZXJvTG9uZwFpemVyb0Zsb2F0+j+AAABqemVyb0RvdWJsZfs/8AAAAAAAAP8=",
                        "params": {
                            "defaults": {
                                "defaultString": "bye",
                                "defaultBoolean": true,
                                "defaultList": [
                                    "a"
                                ],
                                "defaultTimestamp": 1,
                                "defaultBlob": "hi",
                                "defaultByte": 2,
                                "defaultShort": 2,
                                "defaultInteger": 20,
                                "defaultLong": 200,
                                "defaultFloat": 2.0,
                                "defaultDouble": 2.0,
                                "defaultMap": {
                                    "name": "Jack"
                                },
                                "defaultEnum": "BAR",
                                "defaultIntEnum": 2,
                                "emptyString": "foo",
                                "falseBoolean": true,
                                "emptyBlob": "hi",
                                "zeroByte": 1,
                                "zeroShort": 1,
                                "zeroInteger": 1,
                                "zeroLong": 1,
                                "zeroFloat": 1.0,
                                "zeroDouble": 1.0
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborServerPopulatesDefaultsWhenMissingInRequestBody",
                        "documentation": "Server populates default values when missing in request body.",
                        "appliesTo": "server",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "bodyMediaType": "application/cbor",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "body": "v2hkZWZhdWx0c6D/",
                        "params": {
                            "defaults": {
                                "defaultString": "hi",
                                "defaultBoolean": true,
                                "defaultList": [],
                                "defaultTimestamp": 0,
                                "defaultBlob": "abc",
                                "defaultByte": 1,
                                "defaultShort": 1,
                                "defaultInteger": 10,
                                "defaultLong": 100,
                                "defaultFloat": 1.0,
                                "defaultDouble": 1.0,
                                "defaultMap": {},
                                "defaultEnum": "FOO",
                                "defaultIntEnum": 1,
                                "emptyString": "",
                                "falseBoolean": false,
                                "emptyBlob": "",
                                "zeroByte": 0,
                                "zeroShort": 0,
                                "zeroInteger": 0,
                                "zeroLong": 0,
                                "zeroFloat": 0.0,
                                "zeroDouble": 0.0
                            },
                            "topLevelDefault": "hi",
                            "otherTopLevelDefault": 0
                        }
                    },
                    {
                        "id": "RpcV2CborClientUsesExplicitlyProvidedValuesInTopLevel",
                        "documentation": "Any time a value is provided for a member in the top level of input, it is used, regardless of if its the default.",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "bodyMediaType": "application/cbor",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "body": "v290b3BMZXZlbERlZmF1bHRiaGl0b3RoZXJUb3BMZXZlbERlZmF1bHQA/w==",
                        "params": {
                            "topLevelDefault": "hi",
                            "otherTopLevelDefault": 0
                        }
                    },
                    {
                        "id": "RpcV2CborClientIgnoresNonTopLevelDefaultsOnMembersWithClientOptional",
                        "documentation": "Typically, non top-level members would have defaults filled in, but if they have the clientOptional trait, the defaults should be ignored.",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "bodyMediaType": "application/cbor",
                        "uri": "/service/RpcV2Protocol/operation/OperationWithDefaults",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "body": "v3ZjbGllbnRPcHRpb25hbERlZmF1bHRzoP8=",
                        "params": {
                            "clientOptionalDefaults": {}
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborClientPopulatesDefaultsValuesWhenMissingInResponse",
                        "documentation": "Client populates default values when missing in response.",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v/8=",
                        "params": {
                            "defaultString": "hi",
                            "defaultBoolean": true,
                            "defaultList": [],
                            "defaultTimestamp": 0,
                            "defaultBlob": "abc",
                            "defaultByte": 1,
                            "defaultShort": 1,
                            "defaultInteger": 10,
                            "defaultLong": 100,
                            "defaultFloat": 1.0,
                            "defaultDouble": 1.0,
                            "defaultMap": {},
                            "defaultEnum": "FOO",
                            "defaultIntEnum": 1,
                            "emptyString": "",
                            "falseBoolean": false,
                            "emptyBlob": "",
                            "zeroByte": 0,
                            "zeroShort": 0,
                            "zeroInteger": 0,
                            "zeroLong": 0,
                            "zeroFloat": 0.0,
                            "zeroDouble": 0.0
                        }
                    },
                    {
                        "id": "RpcV2CborClientIgnoresDefaultValuesIfMemberValuesArePresentInResponse",
                        "documentation": "Client ignores default values if member values are present in the response.",
                        "appliesTo": "client",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v21kZWZhdWx0U3RyaW5nY2J5ZW5kZWZhdWx0Qm9vbGVhbvRrZGVmYXVsdExpc3SBYWFwZGVmYXVsdFRpbWVzdGFtcMH7QAAAAAAAAABrZGVmYXVsdEJsb2JCaGlrZGVmYXVsdEJ5dGUCbGRlZmF1bHRTaG9ydAJuZGVmYXVsdEludGVnZXIUa2RlZmF1bHRMb25nGMhsZGVmYXVsdEZsb2F0+kAAAABtZGVmYXVsdERvdWJsZftAAAAAAAAAAGpkZWZhdWx0TWFwoWRuYW1lZEphY2trZGVmYXVsdEVudW1jQkFSbmRlZmF1bHRJbnRFbnVtAmtlbXB0eVN0cmluZ2Nmb29sZmFsc2VCb29sZWFu9WllbXB0eUJsb2JCaGloemVyb0J5dGUBaXplcm9TaG9ydAFremVyb0ludGVnZXIBaHplcm9Mb25nAWl6ZXJvRmxvYXT6P4AAAGp6ZXJvRG91Ymxl+z/wAAAAAAAA/w==",
                        "params": {
                            "defaultString": "bye",
                            "defaultBoolean": false,
                            "defaultList": [
                                "a"
                            ],
                            "defaultTimestamp": 2,
                            "defaultBlob": "hi",
                            "defaultByte": 2,
                            "defaultShort": 2,
                            "defaultInteger": 20,
                            "defaultLong": 200,
                            "defaultFloat": 2.0,
                            "defaultDouble": 2.0,
                            "defaultMap": {
                                "name": "Jack"
                            },
                            "defaultEnum": "BAR",
                            "defaultIntEnum": 2,
                            "emptyString": "foo",
                            "falseBoolean": true,
                            "emptyBlob": "hi",
                            "zeroByte": 1,
                            "zeroShort": 1,
                            "zeroInteger": 1,
                            "zeroLong": 1,
                            "zeroFloat": 1.0,
                            "zeroDouble": 1.0
                        }
                    },
                    {
                        "id": "RpcV2CborServerPopulatesDefaultsInResponseWhenMissingInParams",
                        "documentation": "Server populates default values in response when missing in params.",
                        "appliesTo": "server",
                        "tags": [
                            "defaults"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "body": "v21kZWZhdWx0U3RyaW5nYmhpbmRlZmF1bHRCb29sZWFu9WtkZWZhdWx0TGlzdIBwZGVmYXVsdFRpbWVzdGFtcMH7AAAAAAAAAABrZGVmYXVsdEJsb2JDYWJja2RlZmF1bHRCeXRlAWxkZWZhdWx0U2hvcnQBbmRlZmF1bHRJbnRlZ2VyCmtkZWZhdWx0TG9uZxhkbGRlZmF1bHRGbG9hdPo/gAAAbWRlZmF1bHREb3VibGX7P/AAAAAAAABqZGVmYXVsdE1hcKBrZGVmYXVsdEVudW1jRk9PbmRlZmF1bHRJbnRFbnVtAWtlbXB0eVN0cmluZ2BsZmFsc2VCb29sZWFu9GllbXB0eUJsb2JAaHplcm9CeXRlAGl6ZXJvU2hvcnQAa3plcm9JbnRlZ2VyAGh6ZXJvTG9uZwBpemVyb0Zsb2F0+gAAAABqemVyb0RvdWJsZfsAAAAAAAAAAP8=",
                        "params": {}
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#OperationWithDefaultsInput": {
            "type": "structure",
            "members": {
                "defaults": {
                    "target": "smithy.protocoltests.rpcv2Cbor#Defaults"
                },
                "clientOptionalDefaults": {
                    "target": "smithy.protocoltests.rpcv2Cbor#ClientOptionalDefaults"
                },
                "topLevelDefault": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#default": "hi"
                    }
                },
                "otherTopLevelDefault": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.protocoltests.rpcv2Cbor#OperationWithDefaultsOutput": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#DefaultsMixin"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.protocoltests.rpcv2Cbor#OptionalInputOutput": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#SimpleStructure"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#SimpleStructure"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "optional_input",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When input is empty we write CBOR equivalent of {}",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "forbidHeaders": [
                            "X-Amz-Target"
                        ],
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/OptionalInputOutput",
                        "bodyMediaType": "application/cbor",
                        "body": "v/8="
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "optional_output",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "documentation": "When output is empty we write CBOR equivalent of {}",
                        "body": "v/8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "code": 200
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RecursiveShapes": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutput"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutput"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RpcV2CborRecursiveShapes",
                        "documentation": "Serializes recursive structures",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RecursiveShapes",
                        "body": "v2ZuZXN0ZWS/Y2Zvb2RGb28xZm5lc3RlZL9jYmFyZEJhcjFvcmVjdXJzaXZlTWVtYmVyv2Nmb29kRm9vMmZuZXN0ZWS/Y2JhcmRCYXIy//////8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "foo": "Foo1",
                                "nested": {
                                    "bar": "Bar1",
                                    "recursiveMember": {
                                        "foo": "Foo2",
                                        "nested": {
                                            "bar": "Bar2"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborRecursiveShapes",
                        "documentation": "Serializes recursive structures",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2ZuZXN0ZWS/Y2Zvb2RGb28xZm5lc3RlZL9jYmFyZEJhcjFvcmVjdXJzaXZlTWVtYmVyv2Nmb29kRm9vMmZuZXN0ZWS/Y2JhcmRCYXIy//////8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "nested": {
                                "foo": "Foo1",
                                "nested": {
                                    "bar": "Bar1",
                                    "recursiveMember": {
                                        "foo": "Foo2",
                                        "nested": {
                                            "bar": "Bar2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborRecursiveShapesUsingDefiniteLength",
                        "documentation": "Deserializes recursive structures encoded using a map with definite length",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWZuZXN0ZWSiY2Zvb2RGb28xZm5lc3RlZKJjYmFyZEJhcjFvcmVjdXJzaXZlTWVtYmVyomNmb29kRm9vMmZuZXN0ZWShY2JhcmRCYXIy",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "nested": {
                                "foo": "Foo1",
                                "nested": {
                                    "bar": "Bar1",
                                    "recursiveMember": {
                                        "foo": "Foo2",
                                        "nested": {
                                            "bar": "Bar2"
                                        }
                                    }
                                }
                            }
                        },
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutputNested1"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutputNested1": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String"
                },
                "nested": {
                    "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutputNested2"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutputNested2": {
            "type": "structure",
            "members": {
                "bar": {
                    "target": "smithy.api#String"
                },
                "recursiveMember": {
                    "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapesInputOutputNested1"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborDenseMaps": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborDenseMapsInputOutput"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborDenseMapsInputOutput"
            },
            "errors": [
                {
                    "target": "smithy.framework#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "The example tests basic map serialization.",
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RpcV2CborMaps",
                        "documentation": "Serializes maps",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborDenseMaps",
                        "body": "oW5kZW5zZVN0cnVjdE1hcKJjZm9voWJoaWV0aGVyZWNiYXqhYmhpY2J5ZQ==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "denseStructMap": {
                                "foo": {
                                    "hi": "there"
                                },
                                "baz": {
                                    "hi": "bye"
                                }
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesZeroValuesInMaps",
                        "documentation": "Ensure that 0 and false are sent over the wire in all maps and lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborDenseMaps",
                        "body": "om5kZW5zZU51bWJlck1hcKFheABvZGVuc2VCb29sZWFuTWFwoWF49A==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "denseNumberMap": {
                                "x": 0
                            },
                            "denseBooleanMap": {
                                "x": false
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesDenseSetMap",
                        "documentation": "A request that contains a dense map of sets.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborDenseMaps",
                        "body": "oWtkZW5zZVNldE1hcKJheIBheYJhYWFi",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "denseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ]
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborMaps",
                        "documentation": "Deserializes maps",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oW5kZW5zZVN0cnVjdE1hcKJjZm9voWJoaWV0aGVyZWNiYXqhYmhpY2J5ZQ==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "denseStructMap": {
                                "foo": {
                                    "hi": "there"
                                },
                                "baz": {
                                    "hi": "bye"
                                }
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesZeroValuesInMaps",
                        "documentation": "Ensure that 0 and false are sent over the wire in all maps and lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "om5kZW5zZU51bWJlck1hcKFheABvZGVuc2VCb29sZWFuTWFwoWF49A==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "denseNumberMap": {
                                "x": 0
                            },
                            "denseBooleanMap": {
                                "x": false
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesDenseSetMap",
                        "documentation": "A response that contains a dense map of sets",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWtkZW5zZVNldE1hcKJheIBheYJhYWFi",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "denseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesDenseSetMapAndSkipsNull",
                        "documentation": "Clients SHOULD tolerate seeing a null value in a dense map, and they SHOULD\ndrop the null key-value pair.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "appliesTo": "client",
                        "code": 200,
                        "body": "oWtkZW5zZVNldE1hcKNheIBheYJhYWFiYXr2",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "denseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ]
                            }
                        }
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborDenseMapsInputOutput": {
            "type": "structure",
            "members": {
                "denseStructMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#DenseStructMap"
                },
                "denseNumberMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#DenseNumberMap"
                },
                "denseBooleanMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#DenseBooleanMap"
                },
                "denseStringMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#DenseStringMap"
                },
                "denseSetMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#DenseSetMap"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborListInputOutput": {
            "type": "structure",
            "members": {
                "stringList": {
                    "target": "smithy.protocoltests.shared#StringList"
                },
                "stringSet": {
                    "target": "smithy.protocoltests.shared#StringSet"
                },
                "integerList": {
                    "target": "smithy.protocoltests.shared#IntegerList"
                },
                "booleanList": {
                    "target": "smithy.protocoltests.shared#BooleanList"
                },
                "timestampList": {
                    "target": "smithy.protocoltests.shared#TimestampList"
                },
                "enumList": {
                    "target": "smithy.protocoltests.shared#FooEnumList"
                },
                "intEnumList": {
                    "target": "smithy.protocoltests.shared#IntegerEnumList"
                },
                "nestedStringList": {
                    "target": "smithy.protocoltests.shared#NestedStringList"
                },
                "structureList": {
                    "target": "smithy.protocoltests.rpcv2Cbor#StructureList"
                },
                "blobList": {
                    "target": "smithy.protocoltests.shared#BlobList"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborLists": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborListInputOutput"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborListInputOutput"
            },
            "errors": [
                {
                    "target": "smithy.framework#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "This test case serializes JSON lists for the following cases for both\ninput and output:\n\n1. Normal lists.\n2. Normal sets.\n3. Lists of lists.\n4. Lists of structures.",
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RpcV2CborLists",
                        "documentation": "Serializes RpcV2 Cbor lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborLists",
                        "body": "v2pzdHJpbmdMaXN0gmNmb29jYmFyaXN0cmluZ1NldIJjZm9vY2JhcmtpbnRlZ2VyTGlzdIIBAmtib29sZWFuTGlzdIL19G10aW1lc3RhbXBMaXN0gsH7QdTX+/OAAADB+0HU1/vzgAAAaGVudW1MaXN0gmNGb29hMGtpbnRFbnVtTGlzdIIBAnBuZXN0ZWRTdHJpbmdMaXN0goJjZm9vY2JhcoJjYmF6Y3F1eG1zdHJ1Y3R1cmVMaXN0gqJhYWExYWJhMqJhYWEzYWJhNGhibG9iTGlzdIJDZm9vQ2Jhcv8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "stringList": [
                                "foo",
                                "bar"
                            ],
                            "stringSet": [
                                "foo",
                                "bar"
                            ],
                            "integerList": [
                                1,
                                2
                            ],
                            "booleanList": [
                                true,
                                false
                            ],
                            "timestampList": [
                                1398796238,
                                1398796238
                            ],
                            "enumList": [
                                "Foo",
                                "0"
                            ],
                            "intEnumList": [
                                1,
                                2
                            ],
                            "nestedStringList": [
                                [
                                    "foo",
                                    "bar"
                                ],
                                [
                                    "baz",
                                    "qux"
                                ]
                            ],
                            "structureList": [
                                {
                                    "a": "1",
                                    "b": "2"
                                },
                                {
                                    "a": "3",
                                    "b": "4"
                                }
                            ],
                            "blobList": [
                                "foo",
                                "bar"
                            ]
                        }
                    },
                    {
                        "id": "RpcV2CborListsEmpty",
                        "documentation": "Serializes empty JSON lists",
                        "tags": [
                            "client-indefinite"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborLists",
                        "body": "v2pzdHJpbmdMaXN0n///",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "stringList": []
                        }
                    },
                    {
                        "id": "RpcV2CborListsEmptyUsingDefiniteLength",
                        "documentation": "Serializes empty JSON definite length lists",
                        "tags": [
                            "client-definite"
                        ],
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborLists",
                        "body": "oWpzdHJpbmdMaXN0gA==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "stringList": []
                        }
                    },
                    {
                        "id": "RpcV2CborIndefiniteStringInsideIndefiniteList",
                        "documentation": "Can deserialize indefinite length text strings inside an indefinite length list",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborLists",
                        "body": "v2pzdHJpbmdMaXN0n394HUFuIGV4YW1wbGUgaW5kZWZpbml0ZSBzdHJpbmcsdyB3aGljaCB3aWxsIGJlIGNodW5rZWQsbiBvbiBlYWNoIGNvbW1h/394NUFub3RoZXIgZXhhbXBsZSBpbmRlZmluaXRlIHN0cmluZyB3aXRoIG9ubHkgb25lIGNodW5r/3ZUaGlzIGlzIGEgcGxhaW4gc3RyaW5n//8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "stringList": [
                                "An example indefinite string, which will be chunked, on each comma",
                                "Another example indefinite string with only one chunk",
                                "This is a plain string"
                            ]
                        },
                        "appliesTo": "server"
                    },
                    {
                        "id": "RpcV2CborIndefiniteStringInsideDefiniteList",
                        "documentation": "Can deserialize indefinite length text strings inside a definite length list",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborLists",
                        "body": "oWpzdHJpbmdMaXN0g394HUFuIGV4YW1wbGUgaW5kZWZpbml0ZSBzdHJpbmcsdyB3aGljaCB3aWxsIGJlIGNodW5rZWQsbiBvbiBlYWNoIGNvbW1h/394NUFub3RoZXIgZXhhbXBsZSBpbmRlZmluaXRlIHN0cmluZyB3aXRoIG9ubHkgb25lIGNodW5r/3ZUaGlzIGlzIGEgcGxhaW4gc3RyaW5n",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "stringList": [
                                "An example indefinite string, which will be chunked, on each comma",
                                "Another example indefinite string with only one chunk",
                                "This is a plain string"
                            ]
                        },
                        "appliesTo": "server"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborLists",
                        "documentation": "Serializes RpcV2 Cbor lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2pzdHJpbmdMaXN0n2Nmb29jYmFy/2lzdHJpbmdTZXSfY2Zvb2NiYXL/a2ludGVnZXJMaXN0nwEC/2tib29sZWFuTGlzdJ/19P9tdGltZXN0YW1wTGlzdJ/B+0HU1/vzgAAAwftB1Nf784AAAP9oZW51bUxpc3SfY0Zvb2Ew/2tpbnRFbnVtTGlzdJ8BAv9wbmVzdGVkU3RyaW5nTGlzdJ+fY2Zvb2NiYXL/n2NiYXpjcXV4//9tc3RydWN0dXJlTGlzdJ+/YWFhMWFiYTL/v2FhYTNhYmE0//9oYmxvYkxpc3SfQ2Zvb0NiYXL//w==",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "stringList": [
                                "foo",
                                "bar"
                            ],
                            "stringSet": [
                                "foo",
                                "bar"
                            ],
                            "integerList": [
                                1,
                                2
                            ],
                            "booleanList": [
                                true,
                                false
                            ],
                            "timestampList": [
                                1398796238,
                                1398796238
                            ],
                            "enumList": [
                                "Foo",
                                "0"
                            ],
                            "intEnumList": [
                                1,
                                2
                            ],
                            "nestedStringList": [
                                [
                                    "foo",
                                    "bar"
                                ],
                                [
                                    "baz",
                                    "qux"
                                ]
                            ],
                            "structureList": [
                                {
                                    "a": "1",
                                    "b": "2"
                                },
                                {
                                    "a": "3",
                                    "b": "4"
                                }
                            ],
                            "blobList": [
                                "foo",
                                "bar"
                            ]
                        }
                    },
                    {
                        "id": "RpcV2CborListsEmpty",
                        "documentation": "Serializes empty RpcV2 Cbor lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2pzdHJpbmdMaXN0n///",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "stringList": []
                        }
                    },
                    {
                        "id": "RpcV2CborIndefiniteStringInsideIndefiniteListCanDeserialize",
                        "documentation": "Can deserialize indefinite length text strings inside an indefinite length list",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2pzdHJpbmdMaXN0n394HUFuIGV4YW1wbGUgaW5kZWZpbml0ZSBzdHJpbmcsdyB3aGljaCB3aWxsIGJlIGNodW5rZWQsbiBvbiBlYWNoIGNvbW1h/394NUFub3RoZXIgZXhhbXBsZSBpbmRlZmluaXRlIHN0cmluZyB3aXRoIG9ubHkgb25lIGNodW5r/3ZUaGlzIGlzIGEgcGxhaW4gc3RyaW5n//8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "stringList": [
                                "An example indefinite string, which will be chunked, on each comma",
                                "Another example indefinite string with only one chunk",
                                "This is a plain string"
                            ]
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "RpcV2CborIndefiniteStringInsideDefiniteListCanDeserialize",
                        "documentation": "Can deserialize indefinite length text strings inside a definite length list",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "oWpzdHJpbmdMaXN0g394HUFuIGV4YW1wbGUgaW5kZWZpbml0ZSBzdHJpbmcsdyB3aGljaCB3aWxsIGJlIGNodW5rZWQsbiBvbiBlYWNoIGNvbW1h/394NUFub3RoZXIgZXhhbXBsZSBpbmRlZmluaXRlIHN0cmluZyB3aXRoIG9ubHkgb25lIGNodW5r/3ZUaGlzIGlzIGEgcGxhaW4gc3RyaW5n",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "stringList": [
                                "An example indefinite string, which will be chunked, on each comma",
                                "Another example indefinite string with only one chunk",
                                "This is a plain string"
                            ]
                        },
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborSparseMaps": {
            "type": "operation",
            "input": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborSparseMapsInputOutput"
            },
            "output": {
                "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborSparseMapsInputOutput"
            },
            "errors": [
                {
                    "target": "smithy.framework#ValidationException"
                }
            ],
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RpcV2CborSparseMaps",
                        "documentation": "Serializes sparse maps",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborSparseMaps",
                        "body": "v29zcGFyc2VTdHJ1Y3RNYXC/Y2Zvb79iaGlldGhlcmX/Y2Jher9iaGljYnll////",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "sparseStructMap": {
                                "foo": {
                                    "hi": "there"
                                },
                                "baz": {
                                    "hi": "bye"
                                }
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesNullMapValues",
                        "documentation": "Serializes null map values in sparse maps",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborSparseMaps",
                        "body": "v3BzcGFyc2VCb29sZWFuTWFwv2F49v9vc3BhcnNlTnVtYmVyTWFwv2F49v9vc3BhcnNlU3RyaW5nTWFwv2F49v9vc3BhcnNlU3RydWN0TWFwv2F49v//",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "sparseBooleanMap": {
                                "x": null
                            },
                            "sparseNumberMap": {
                                "x": null
                            },
                            "sparseStringMap": {
                                "x": null
                            },
                            "sparseStructMap": {
                                "x": null
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesSparseSetMap",
                        "documentation": "A request that contains a sparse map of sets",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborSparseMaps",
                        "body": "v2xzcGFyc2VTZXRNYXC/YXif/2F5n2FhYWL///8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "sparseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesSparseSetMapAndRetainsNull",
                        "documentation": "A request that contains a sparse map of sets.",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborSparseMaps",
                        "body": "v2xzcGFyc2VTZXRNYXC/YXif/2F5n2FhYWL/YXr2//8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "sparseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ],
                                "z": null
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborSerializesZeroValuesInSparseMaps",
                        "documentation": "Ensure that 0 and false are sent over the wire in all maps and lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "method": "POST",
                        "uri": "/service/RpcV2Protocol/operation/RpcV2CborSparseMaps",
                        "body": "v29zcGFyc2VOdW1iZXJNYXC/YXgA/3BzcGFyc2VCb29sZWFuTWFwv2F49P//",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor",
                            "Accept": "application/cbor"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "sparseNumberMap": {
                                "x": 0
                            },
                            "sparseBooleanMap": {
                                "x": false
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RpcV2CborSparseJsonMaps",
                        "documentation": "Deserializes sparse maps",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v29zcGFyc2VTdHJ1Y3RNYXC/Y2Zvb79iaGlldGhlcmX/Y2Jher9iaGljYnll////",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "sparseStructMap": {
                                "foo": {
                                    "hi": "there"
                                },
                                "baz": {
                                    "hi": "bye"
                                }
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesNullMapValues",
                        "documentation": "Deserializes null map values",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v3BzcGFyc2VCb29sZWFuTWFwv2F49v9vc3BhcnNlTnVtYmVyTWFwv2F49v9vc3BhcnNlU3RyaW5nTWFwv2F49v9vc3BhcnNlU3RydWN0TWFwv2F49v//",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "sparseBooleanMap": {
                                "x": null
                            },
                            "sparseNumberMap": {
                                "x": null
                            },
                            "sparseStringMap": {
                                "x": null
                            },
                            "sparseStructMap": {
                                "x": null
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesSparseSetMap",
                        "documentation": "A response that contains a sparse map of sets",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2xzcGFyc2VTZXRNYXC/YXmfYWFhYv9heJ////8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "sparseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesSparseSetMapAndRetainsNull",
                        "documentation": "A response that contains a sparse map of sets with a null",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v2xzcGFyc2VTZXRNYXC/YXif/2F5n2FhYWL/YXr2//8=",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "sparseSetMap": {
                                "x": [],
                                "y": [
                                    "a",
                                    "b"
                                ],
                                "z": null
                            }
                        }
                    },
                    {
                        "id": "RpcV2CborDeserializesZeroValuesInSparseMaps",
                        "documentation": "Ensure that 0 and false are sent over the wire in all maps and lists",
                        "protocol": "smithy.protocols#rpcv2Cbor",
                        "code": 200,
                        "body": "v29zcGFyc2VOdW1iZXJNYXC/YXgA/3BzcGFyc2VCb29sZWFuTWFwv2F49P//",
                        "bodyMediaType": "application/cbor",
                        "headers": {
                            "smithy-protocol": "rpc-v2-cbor",
                            "Content-Type": "application/cbor"
                        },
                        "params": {
                            "sparseNumberMap": {
                                "x": 0
                            },
                            "sparseBooleanMap": {
                                "x": false
                            }
                        }
                    }
                ]
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2CborSparseMapsInputOutput": {
            "type": "structure",
            "members": {
                "sparseStructMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#SparseStructMap"
                },
                "sparseNumberMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#SparseNumberMap"
                },
                "sparseBooleanMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#SparseBooleanMap"
                },
                "sparseStringMap": {
                    "target": "smithy.protocoltests.shared#SparseStringMap"
                },
                "sparseSetMap": {
                    "target": "smithy.protocoltests.rpcv2Cbor#SparseSetMap"
                }
            }
        },
        "smithy.protocoltests.rpcv2Cbor#RpcV2Protocol": {
            "type": "service",
            "version": "2020-07-14",
            "operations": [
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#EmptyInputOutput"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#Float16"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#FractionalSeconds"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#GreetingWithErrors"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#NoInputOutput"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#OperationWithDefaults"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#OptionalInputOutput"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#RecursiveShapes"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborDenseMaps"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborLists"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#RpcV2CborSparseMaps"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#SimpleScalarProperties"
                },
                {
                    "target": "smithy.protocoltests.rpcv2Cbor#SparseNullsOperation"
                }
            ],
            "traits": {
                "smithy.api#title": "RpcV2 Protocol Service",
                "smithy.protocols#rpcv2Cbor": {}
            }
        },
[...]
